<div class="container">
  <div class="row my-4">
    <div class="col-sm-12 px-sm-0">
      <h2>商品詳細</h2>

    <div class="row">

    <!-- 画像選択欄 -->
      <div class="col-md-3 mt-4">
        <% if @item.image.attached? %>
          <%= image_tag @item.image, size: "200x200" %>
        <% else %>
          <%= image_tag 'no_image', size: "200x200" %>
        <% end %>
      </div>

    <!-- 商品登録フォーム -->
      <div class="col-md-4 mt-4">
          <table class="table table-borderless">
            <tr>
              <th>商品名</th>
              <td><%= @item.name %></td>
            </tr>
            <tr>
              <th>商品説明</th>
              <td><%= @item.introduction %></td>
            </tr>
            <tr>
              <th>ジャンル</th>
              <td><%= @item.genre.name %></td>
            </tr>
            <tr>
              <th>
                  税込価格<br>
                  (税抜き価格)
              </th>
              <td><%= (@item.price * 1.1).to_i.to_s(:delimited, delimiter: ',') %> (<%= @item.price.to_s(:delimited, delimiter: ',') %>) 円</td>
            </tr>
            <tr>
              <th>販売ステータス</th>
              <td>
                <% if @item.is_active == true %>
                  <p class="text-success">販売中</p>
                <% else %>
                  <p class="text-secondary ">販売停止中</p>
                <% end %>
              </td>
            </tr>
          </table>
          <div class="d-flex justify-content-around">
            <p><%= link_to '編集する', edit_admin_item_path(@item.id), class: 'btn btn-success' %></p>
          </div>

        </div>
    </div>
  </div>
</div>