<div class="container">
  <div class="row my-4">
    <div class="offset-1 px-sm-0">
      <h3 class="red-border">ショッピングカート</h3>
    </div>

    <div class="ml-auto mr-5">
      <%= link_to "カートを空にする", cart_items_all_destroy_path, method: :delete, class: "btn btn-sm btn-danger" %>
    </div>
  </div>

  <div class="row mr-4 ml-4">
    <div class="col-12">
      <table class="table table-bordered">
        <thead>
          <tr class="red-border">
            <th>商品名</th>
            <th>単価(税込)</th>
            <th>数量</th>
            <th>小計</th>
          </tr>
        </thead>
        <tbody>
          <% @cart_items.each do |cart_item| %>
            <tr class="brown-border">
              <td class="align-middle">
                <% if cart_item.item.image.attached? %>
                    <%= image_tag cart_item.item.image, size: "50x50" %>
                <% else %>
                  <%= image_tag "no_image.jpg" %>
                <% end %>
                <span><%= cart_item.item.name %></span>
              </td>
              <td class="align-middle"><%= (cart_item.item.price * 1.1).floor.to_s(:delimited, delimiter: ',') %></td>
              <td class="align-middle" style="width: 130px;">
                <%= form_for(cart_item) do |f| %>
                  <%= f.select :amount, *[1..10], class:"ml-4" %>
                  <%= f.submit "変更", class:"btn btn-sm btn-success offset-1" %>
                <% end %>
              </td>

              <td class="align-middle">
                <%= (cart_item.item.price * 1.1).floor * cart_item.amount %>
              </td>

              <td class="align-middle"><%= link_to "削除する", cart_item_path(cart_item), method: :delete, class: "btn btn-sm btn-danger" %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>

  <div class="row my-1">
    <div class="offset-1 px-sm-0">
      <%= link_to "買い物を続ける", root_path, class: "btn btn-primary" %>
    </div>

    <div class="ml-auto mt-2 mr-4">
      <table class="table table-bordered">
        <strong class="red-border px-3 pb-1">合計金額 <%= @total_price.to_s(:delimited, delimiter: ',') %></strong>
      </table>
    </div>
  </div>

  <% if @cart_items != [] %>
  <div class="offset-6 mt-4 mb-4">
    <%= link_to "情報入力に進む", new_order_path, class: "btn btn-success" %>
  <% end %>

</div>