<div class="row">
  <div class="col-xs-offset-1 col-xs-11">

  <h2>新規会員登録</h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "public/shared/error_messages", resource: resource %>

      <div class="field form-group col-xs-12">
        <%= f.label :"名前" %>
        <%= f.label :"(姓)" %>
        <%= f.text_field :last_name %>
        <%= f.label :"(名)" %>
        <%= f.text_field :first_name %>
      </div>

      <div class="field form-group col-xs-12">
        <%= f.label :"フリガナ" %>
        <%= f.label :"(セイ)" %>
        <%= f.text_field :last_name_kana %>
        <%= f.label :"(メイ)" %>
        <%= f.text_field :first_name_kana %>
      </div>

      <div class="field form-group col-xs-12">
        <%= f.label :"メールアドレス" %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      </div>

      <div class="field form-group col-xs-12">
        <%= f.label :"郵便番号(ハイフンなし)" %>
        <%= f.text_field :postal_code %>
      </div>

      <div class="field form-group col-xs-12">
        <%= f.label :"住所" %>
        <%= f.text_field :address %>
      </div>

      <div class="field form-group col-xs-12">
        <%= f.label :"電話番号(ハイフンなし)" %>
        <%= f.text_field :telephone_number %>
      </div>

      <div class="field form-group col-xs-9">
        <%= f.label :"パスワード" %>
        <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %>文字以上)</em>
        <% end %>
        <%= f.password_field :password, autocomplete: "new-password" %>
      </div>

      <div class="field form-group col-xs-9">
        <%= f.label :"パスワード(確認用)" %>
        <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
      </div>

      <div class="actions">
        <%= f.submit "新規登録" %>
      </div>
    <% end %>

    <div class="col-xs-9">
      <h2 class="head-line title_h2 text-center">既に登録済みの方</h2>
      <p class="new-link"><%= link_to 'こちら',  new_customer_session_path %> からログインしてください。</p>
      <p id="notice"><%= notice %></p>
    </div>




</div>
</div>