<div class="container">
  <div class="row my-4">
    <div class="col-sm-12 px-sm-0">
      <h3>注文情報確認</h3>

      <div class="row">
        <div class="col-md-8 mt-4">
          <table class="table table-bordered">
            <thead>
              <tr class="table-head">
                <th>商品名</th>
                <th>単価（税込）</th>
                <th>数量</th>
                <th>小計</th>
              </tr>
            </thead>
            <tbody>
              <% @subtotals = 0 %>
              <% @cart_items.each do |cart_item| %>
                <tr>
              　　　<!--商品名-->
                  <td>
                    <% if cart_item.item.image.attached? %>
                        <%= image_tag cart_item.item.image, size: "50x50" %>
                    <% else %>
                      <%= image_tag "no_image.jpg" %>
                    <% end %>
                    <%= cart_item.item.name %>
                  </td>
                  <!--単価-->
                  <td><%= (cart_item.item.price * 1.1).floor %></td>
                  <!--数量-->
                  <td><%= cart_item.amount %></td>
                  <!--小計-->
                  <td><%= (cart_item.item.price * 1.1).floor * cart_item.amount %></td>
                </tr>
                <!--合計金額-->
                <% @subtotals += (cart_item.item.price * 1.1).floor * cart_item.amount %>
              <% end %>
            </tbody>
  　　      </table>
        </div>

        <div class="col-md-3 ml-5 mt-5">
          <table class="table table-bordered">
            <tbody>
              <tr>
                <th>送料</th>
                <td class="text-right col-xs-5"><%= @order.shipping_cost %></td>
              </tr>
              <tr>
                <th class="info">商品合計</th>
                <td class="text-right"><%= @subtotals %></td>
              </tr>
              <tr>
                <th class="info">請求金額</th>
                <td class="text-right">
                  <% @total = @subtotals + @order.shipping_cost %>
                  <%= @total %>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

      <div class="row">
        <table class="table table-borderless col-md-8">
          <tbody>
            <tr>
              <th  class="info">支払方法</th>
              <td class="text-left">
                <%= @order.payment_method_i18n %>
              </td>
            </tr>
       　    <tr>
              <th  class="info">お届け先</th>
              <td class="text-left">
                <%= @order.address_display %>
              </td>
            </tr>
          </tbody>
        </table>

        <div class="row col-md-10">
          <h3 class="mx-auto">
            <%= form_with model: @order, url: orders_path, method: :post do |f|%>
              <%= f.hidden_field :payment_method, value: @order.payment_method %>
              <%= f.hidden_field :postal_code, value: @order.postal_code %>
              <%= f.hidden_field :address, value: @order.address %>
              <%= f.hidden_field :name, value: @order.name %>
              <%= f.hidden_field :shipping_cost, value: @order.shipping_cost %>
              <%= f.hidden_field :total_payment, value: @total %>
              <div class="col-md-8 offset-8 mt-4 mb-4">
                <%= f.submit '注文を確定する', class:'btn btn-success'%>
              </div>
            <% end %>
          </h3>
        </div>
      </div>

    </div>
  </div>
</div>