<div class="container">
  <div class="row my-4">
    <div class="col-md-12 px-sm-0">
      <h3>注文履歴詳細</h3>

      <div class="row mt-4">
        <div class="col-md-6">
          <p>注文情報</p>
          <table align="left" class="table table-bordered">
            <tr>
              <th>注文日</tdh>
              <td>
                 <%= @order.created_at.strftime('%Y/%m/%d') %>
              </td>
            </tr>
            <tr>
              <td>配送先</td>
              <td>
                〒<%= @order.postal_code %><br>
                <%= @order.address %><br>
                <%= @order.name %>
              </td>
            </tr>
            <tr>
              <td>支払方法</td>
              <td>
                <%= @order.payment_method_i18n %>
              </td>
            </tr>
            <tr>
              <td>ステータス</td>
              <td>
                <%= @order.status_i18n %>
              </td>
            </tr>
          </table>

          <p>注文内容</p>
          <table class="table table-bordered">
            <tr>
              <th>商品</th>
              <th>単価（税込み)</th>
              <th>個数</th>
              <th>小計</th>
            </tr>

            <% @subtotals = 0 %>
            <% @order_details.each do |order_detail| %>
            <tr>
              <td><%= order_detail.item.name %></td>
              <td><%= (order_detail.item.price * 1.1).floor.to_s(:delimited, delimiter: ',') %></td>
              <td><%= order_detail.amount %></td>
              <td><%= ((order_detail.item.price * order_detail.amount).floor.to_s(:delimited, delimiter: ',')* 1.1) %></td>
            </tr>
            <% @subtotals += (order_detail.item.price * 1.1).floor.to_s(:delimited, delimiter: ',') * order_detail.amount %>
            <% end %>
          </table>
        </div>

        <div class="col-md-3">
          <div class="row">
            <p>請求情報</p>
            <table class="table table-bordered">
              <tr>
                <td>商品合計</td>
                <td><%= @subtotals %></td>
              </tr>
              <tr>
                <td>配送料</td>
                <td><%= @order.shipping_cost %></td>
              </tr>
              <tr>
                <th>ご請求額
                  <td>
                    <%= @subtotals + @order.shipping_cost %>
                  </td>
                </th>
              </tr>
            </table>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>