<!DOCTYPE html>
<html class="fontawesome-i2svg-active fontawesome-i2svg-complete">
  <head>
    <title class="text-success">NaganoCake</title>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <script src="https://kit.fontawesome.com/f47996184c.js" crossorigin="anonymous"></script>　<!-- アイコンいる？ -->

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body data-turbolinks="false">
    <div id="wrapper">

  <!-- headerの記述 -->
  <header>

    <div class="container">
      <nav class="nav navbar-nav navbar-left">
        <%= link_to admin_path do %>
        <%= image_tag "LOGO.jpg", :size =>'120x50' %> <!--Bootstrapで囲えるのかな？-->
        <% end %>
      </nav>
      <nav>
        <ul class="nav navbar-nav navbar-right wf-mplus1p">
          <!-- 会員でログインしている時 -->
          <% if customer_signed_in? %>
            <li id="youkoso">
              ようこそ、<%= current_customers.last_name %>さん！
            </li>
            <li>
              <%= link_to ' マイページ', customers_path %>
            </li>
            <li>
              <%= link_to ' 商品一覧', items_path %>
            </li>
            <li>
              <%= link_to cart_items_path do %>
                <div class="icon-flex">
                  <%= current_customers.cart_items.count %>
                </div>
                <i class="cart">カート</i>
              <% end %>
            </li>
            <li>
              <%= link_to ' ログアウト', destroy_customer_session_path, method: :delete %>
            </li>
            <li>
              <input name="search" placeholder="search                    🔍">
            </li>
          <!-- 管理者でログインしている時 -->
            <% elsif admin_signed_in?%>
            <li>
              <%= link_to ' 商品一覧', admin_items_path %>
            </li>
            <li>
              <%= link_to ' 会員一覧', admin_customers_path %>
            </li>
            <li>
              <%= link_to ' 注文履歴一覧', admin_path %>
            </li>
            <li>
              <%= link_to ' ジャンル一覧', admin_genres_path %>
            </li>
            <li>
              <%= link_to ' ログアウト', destroy_admin_session_path, method: :delete %>
            </li>
            <li>
              <input name="search" placeholder="Search                    🔍">
            </li>
          <!-- ログインしていない時 -->
            <% else %>
            <li>
              <%= link_to ' About', public_homes_about_path %>
            </li>
            <li>
              <%= link_to ' 商品一覧', items_path %>
            </li>
            <li>
              <%= link_to ' 新規登録', new_customer_registration_path %>
            </i>
            <li>
              <%= link_to ' ログイン', new_customer_session_path %>
            </li>
            <li>
              <input name="search" placeholder="Search                    🔍">
            </li>
          <% end %>
        </ul>
      </nav>
    </div>
  </header>

  <main id="content">
    <%= yield %>
  </main>
  
  
  
  </body>
</html>
