<!DOCTYPE html>
<html class="fontawesome-i2svg-active fontawesome-i2svg-complete">
  <head>
    <title>NaganoCake</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <script src="https://kit.fontawesome.com/f47996184c.js" crossorigin="anonymous"></script>　<!-- アイコンいる？ -->
    <%= stylesheet_link_tag 'application', 'data-turbolinks-track': 'reload' %>  <!-- BootStrap -->
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>  <!-- BootStrap -->
  </head>

  <body>
    <!-- headerの記述 -->
    <header>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
          <a class="navbar-brand" href="/">
            <span>LOGO</span>
          </a>

          <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">
              <% if customer_signed_in? %>
                <li class="nav-item">
                ようこそ、<%= current_customer.last_name %>さん！
                </li>

                <li class="nav-item">
                  <%= link_to customers_path, class: 'nav-link text-light' do %>
                    マイページ
                  <% end %>
                </li>

              <% end %>


          <ul>
            <!-- customersでログインしている時 -->
            <% if customer_signed_in? %>
              <li>
                ようこそ、<%= current_customer.last_name %>さん！
              </li>
              <li>
                <%= link_to ' マイページ', customers_path %>
              </li>
              <li>
                <%= link_to ' 商品一覧', items_path %>
              </li>
              <li>
                <%= link_to ' カート', cart_items_path %>
              </li>
              <li>
                <%= link_to ' ログアウト', destroy_customer_session_path, method: :delete %>
              </li>
              <li>
                <input name="search" placeholder="search                    🔍">
              </li>
              <!-- 管理者でログインしている時 -->
              <% elsif admin_signed_in?%>
              <li>
                <%= link_to ' 商品一覧', admin_items_path %>
              </li>
              <li>
                <%= link_to ' 会員一覧', admin_customers_path %>
              </li>
              <li>
                <%= link_to ' 注文履歴一覧', admin_path %>
              </li>
              <li>
                <%= link_to ' ジャンル一覧', admin_genres_path %>
              </li>
              <li>
                <%= link_to ' ログアウト', destroy_admin_session_path, method: :delete %>
              </li>
              <li>
                <input name="search" placeholder="Search                    🔍">
              </li>
              <!-- ログインしていない時 -->
              <% else %>
              <li>
                <%= link_to ' About', about_path %>
              </li>
              <li>
                <%= link_to ' 商品一覧', items_path %>
              </li>
              <li>
                <%= link_to ' 新規登録', new_customer_registration_path %>
              </i>
              <li>
                <%= link_to ' ログイン', new_customer_session_path %>
              </li>
              <li>
                <input name="search" placeholder="Search                    🔍">
              </li>
            <% end %>
          </ul>
        </div>
      </nav>
    </header>

      <main id="content">
        <%= yield %>
      </main>

    <footer>
      <div class="container mt-5">
        <div class="row">
          <div class="mx-auto">
            <p> </p>
          </div>
        </div>
      </div>
    </footer>

  </body>
</html>
