<!DOCTYPE html>
<html>
  <head>
    <title class="text-success">NaganoCake</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <script src="https://kit.fontawesome.com/f47996184c.js" crossorigin="anonymous"></script>　<!-- アイコンいる？ -->
    <%= stylesheet_link_tag 'application', 'data-turbolinks-track': 'reload' %>  <!-- BootStrap -->
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>  <!-- BootStrap -->
  </head>

  <body data-turbolinks="false">
    <div id="wrapper">

      <!-- headerの記述 -->
      <header class="shadow-sm px-sm-0">
        <nav class="navbar navbar-expand-lg navbar-light">

          <%= link_to root_path do %>
            <%= image_tag "LOGO.jpg", size: "100x50" %>
          <% end %>

          <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
            <ul class="navbar-nav">
              <!-- 会員でログインしている時 -->
              <% if customer_signed_in? %>
                <li class="p-2 text-dark">
                  ようこそ、<%= current_customer.last_name %>さん！
                </li>

                <div class="text-end">
                  <%= link_to ' マイページ', customers_path, class:"btn btn-outline-secondary mr-2" %>
                </div>
                <div class="text-end">
                  <%= link_to ' 商品一覧', items_path, class:"btn btn-outline-secondary mr-2" %>
                </div>
                <div class="text-end">
                  <%= link_to ' カート', cart_items_path, class:"btn btn-outline-secondary mr-2" %>
                </div>
                <div class="text-end">
                  <%= link_to ' ログアウト', destroy_customer_session_path, method: :delete, class:"btn btn-outline-secondary mr-2" %>
                </div>

                <li class="p-2 text-dark">
                  <input name="search" placeholder="search                    🔍">
                </li>

              <!-- 管理者でログインしている時 -->
              <% elsif admin_signed_in?%>
                <div class="text-end">
                  <%= link_to ' 商品一覧', admin_items_path, class:"btn btn-outline-secondary mr-2" %>
                </div>
                <div class="text-end">
                  <%= link_to ' 会員一覧', admin_customers_path, class:"btn btn-outline-secondary mr-2" %>
                </div>
                <div class="text-end">
                  <%= link_to ' 注文履歴一覧', admin_path, class:"btn btn-outline-secondary mr-2" %>
                </div>
                <div class="text-end">
                  <%= link_to ' ジャンル一覧', admin_genres_path, class:"btn btn-outline-secondary mr-2" %>
                </div>
                <div class="text-end">
                  <%= link_to ' ログアウト', destroy_admin_session_path, method: :delete, class:"btn btn-outline-secondary mr-2" %>
                </div>

                <li class="p-2 text-dark">
                  <input name="search" placeholder="Search                    🔍">
                </li>

              <!-- ログインしていない時 -->
              <% else %>
                <div class="text-end">
                  <%= link_to ' About', about_path, class: "btn btn-outline-secondary mr-2" %>
                </div>
                <div class="text-end">
                  <%= link_to ' 商品一覧', items_path, class: "btn btn-outline-secondary mr-2" %>
                </div>
                <div class="text-end">
                  <%= link_to ' 新規登録', new_customer_registration_path, class:"btn btn-outline-secondary mr-2" %>
                </div>
                <div class="text-end">
                  <%= link_to ' ログイン', new_customer_session_path, class:"btn btn-outline-secondary mr-2" %>
                </div>

                <li class="p-2 text-dark">
                  <input name="search" placeholder="Search                    🔍">
                </li>
              <% end %>
            </ul>
          </div>
        </nav>
      </header>
    </div>

      <main id="content">
        <%= yield %>
      </main>

      <!-- footer デザイン分岐 -->
      <% if request.fullpath.include? "admin"  %>
        <footer class="footer text-white bg-dark">
      <% else%>
        <footer class="footer text-white", style="background-color: #432c28;">
      <% end %>

        <div class="container text-center mt-3">
          <p>©  inc.</p>
        </div>
      </footer>

  </body>
</html>
